<Files *.ini> 
    Order deny,allow
    Deny from all
</Files>

# Enable Rewriting
RewriteEngine on

# Force HTTPS 
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# API handling
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^(.*)$ api/api.php?$1 [L]

# Login handling
RewriteCond %{REQUEST_URI} ^/login/
RewriteRule ^(.*)$ login/login.php?$1 [L]

# Web App handling
RewriteCond %{REQUEST_URI} ^/webapp/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ webapp/index.php?$1 [L]

