.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-dialog .ui-state-error, .ui-autocomplete { padding: .3em; }
.ui-menu-item { padding: 10px !important; }
.ui-widget-overlay { opacity: .75; filter: Alpha(Opacity=75); }
.ui-datepicker-trigger { cursor: pointer; margin-left: 10px; display: block; float: left; }
.ui-buttonset { float: left; clear: both; }

label, input, select { display: block; clear: both; }
label { font-weight: bold; }
fieldset { margin-top: 10px; }
input.text, select { margin-bottom: 12px; width: 80%; padding: .4em; float: left; }

#dialog-form { display: none; }
.thumb { width: 100px; height: 75px; }
.category { background-color: #eeffee; color: #008800; padding: 5px; margin: 5px; float: left; }
#add-destination { display: block; padding: 10px; float: left; clear: both; }
#description { margin-bottom: 12px; width: 80%; height: 100px; padding: .4em; float: left; }
.destination-template { display: none; float: left; clear: both; width: 90%; background-color: #efefef; }
.remove-destination { display: block; float: left; clear: both; }
