
html { 
	height: 100%; 
}
body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

#header { 
	background-color: #000000;
	color: #ffffff;
	text-align: center; 
	height: 75px; 
	top: 0; 
	overflow: hidden; 
	position: absolute; 
	left: 0; 
	right: 0; 
}
#content-body { 
	top: 75px; 
	bottom: 0px; 
	margin: 0; 
	overflow: hidden; 
	position: absolute; 
	left: 0; 
	right: 0; 
	overflow-y: auto; 
}
