
#event-template {
	display: none;
}



.event-block {
	display: table; 
	padding: 5px; 
	margin-left: 20px; 
	margin-bottom: 5px; 
	border: 0; 
	width: 500px; 
	background-color: #eeeeee;
}

.tr {
	display: table-row;
}


.td, .thumb-cell, .info-cell, .description-cell {
	display: table-cell;
	font-size: 15px;
}

.thumb-cell {
	width: 100px; 
	height: 75px;
}

.info-cell {
	padding-left: 5px; 
	vertical-align: top;
}


.title-cell {
	white-space: nowrap; 
	float: left; 
	overflow: hidden; 
	width: 280px; 
	font-size: 18px; 
	font-weight: bold;
}

.username-cell {
	margin-left: 10px;
	white-space: nowrap; 
	float: left; 
	overflow: hidden; 
	width: 100px; 
	font-size: 16px;
}

.dates-cell, .tags-cell {
	white-space: nowrap; 
	float: left; 
	overflow: hidden; 
	width: 380px; 
	font-size: 16px; 
	font-style: italic;
}
.tags-link {
	text-decoration: none;
	color: #0000cc;
}

.thumb {
	width: 100px; 
	height: 75px;
}
