
#event-template {
	display: none;
}



.event-block {
	display: table; 
	padding: 5px; 
	margin-left: 20px; 
	margin-right: 20px; 
	margin-bottom: 5px; 
	border: 0; 
	background-color: #efefef;
	font-size: 16px; 
}
.event-block:nth-child(odd) {
	background-color: #f8f8ff;
}
.event-block:nth-child(even) {
	background-color: #efefff;
}
@media (max-width: 425px) {
	.event-block {
		width: 425px;
	}
}

.tr {
	display: table-row;
	width: 100%;
}


.td, .spacer, .thumb-cell, .info-cell, .description-cell {
	display: table-cell;
	font-size: 110%;
}

.thumb-cell, .thumb {
	width: 100px; 
	height: 75px;
}
@media (max-width: 525px) {
	.thumb-cell, .thumb, .spacer {
		display: none;
	}
}

.info-cell {
	padding-left: 5px; 
	vertical-align: top;
	width: 100%;
}
.title-cell {
	white-space: nowrap; 
	padding-bottom: 5px;
	float: left; 
	overflow: hidden; 
	width: 45%; 
	font-size: 125%; 
	font-weight: bold;
}
.username-cell {
	margin-right: 5px;
	white-space: nowrap; 
	padding-bottom: 5px;
	float: right; 
	overflow: hidden; 
	width: 45%; 
	text-align: right;
}
.dates-cell, .tags-cell {
	white-space: nowrap; 
	padding-bottom: 5px;
	float: left; 
	overflow: hidden; 
	width: 90%; 
	font-style: italic;
}
.tags-link {
	text-decoration: none;
	color: #0000cc;
}
