
#load-infos {
	display: block; 
	padding: 0px;
	text-align: center;
	color: #dd9900;
}

#event-template, #destination-template {
	display: none;
}
#injection-point, #sticky-injection-point, #premium-injection-point {
	list-style-type: none;
}
#filters {
	display: block;
	background-color: #efffef;
	padding: 5px;
	margin-left: 10px;
}
.filter {
	background-color: #e8f8e8; 
	color: #008800; 
	padding: 5px; 
}


.event-block, .info-block, .premium-block {
	cursor: pointer;
	display: table; 
	padding: 5px; 
	margin-right: 20px; 
	margin-bottom: 5px; 
	border: 0; 
	background-color: #efefef;
	font-size: 16px; 
}
.event-block:nth-child(odd) {
	background-color: #f7f7ff;
}
.event-block:nth-child(even) {
	background-color: #efefff;
}
.info-block:nth-child(odd) {
	background-color: #fefaf8;
}
.info-block:nth-child(even) {
	background-color: #fef7f0;
}
.premium-block {
	border: 1px dashed #880000;
	background-color: #ffeeee;
}
.endOfResults {
	display: block;
	text-align: center;
	padding: 10px;
	font-style: italic;
}


.tr {
	display: block;
	float: left;
	width: 100%;
}


.td {
	display: block;
	float: left;
	font-size: 110%;
}
.thumb-cell {
	display: block;
	float: left;
	font-size: 110%;
}
.thumb-cell, .thumb {
	width: 100px; 
	height: 75px;
}
@media (max-width: 600px) {
	.thumb-cell, .thumb {
		display: none;
	}
}

.info-cell {
	display: block;
	float: left;
	font-size: 110%;
	padding-left: 5px; 
	vertical-align: top;
	width: 90%;
	padding-bottom: 5px;
}
@media (min-width: 601px) and (max-width: 1200px) {
	.info-cell {
		width: 80%;
	}
}
.title-cell, .username-cell, .dates-cell, .tags-cell, .description-cell {
	padding-left: 5px; 
	vertical-align: top;
	width: 70%;
	white-space: nowrap; 
	overflow: hidden; 
	padding-bottom: 5px;
}
.description-cell {
	white-space: normal; 
	overflow: visible; 
}
.title-cell {
	float: left; 
	width: 45%; 
	font-size: 125%; 
	font-weight: bold;
}
.username-cell {
	margin-right: 5px;
	float: right; 
	width: 45%; 
	text-align: right;
}
@media (max-width: 600px) {
	.title-cell {
		width: 100%;
	}
	.username-cell {
		width: 100%;
		float: left;
		text-align: left;
	}
}
.dates-cell, .tags-cell {
	float: left; 
	width: 100%; 
	font-style: italic;
}
.tags-link {
	text-decoration: none;
	color: #0000cc;
}
.description-cell {
	float: left; 
	width: 100%; 
}
